{% extends "base.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1>Welcome to our website, {{ name }}</h1>
    {% if user.profile_pic %}
    <img src="{{ user.profile_pic.url }}" alt="Profile Picture" width="100" height="100">
    {% else %}
    <img src="" alt="No Profile Picture">
    {% endif %}
    {% for post in posts %}
    <div class="post">
        <img src="{{ post.image.url }}" alt="Post Image"/>
        <p>{{ post.description }}</p>
        <p>{{ post.created_at }}</p>
    </div>
    {% endfor %}

    <a href="{% url 'options' %}">Profile Options</a>
{% endblock %}



